/* Menu Mobile  */
#mobileheader {
    position: relative;
    z-index: 1000; /*Sobreposição */
}
.mobile-options, .overlay {
    display: none;
}
.mobile-btn {
    display: none;
    background: #66080800;
    color: white;
    border: 2px solid #66080800;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
    right: 20px;
    top: 20px;
}
/* Titulo */
.navbar {
    top: 140px;
    background-color: #1b0202;
    height: 130px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-style: normal;
    /* border: 2px solid red; */
    flex: 20%;
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
    color: white;
    text-shadow: 4px 4px 10px rgb(255, 0, 0)
}
/* Menu Desktop */
.desktop-options{
    display: flex;
    flex: 60%;
    /* border: 2px solid pink; */
    padding: 20px;
    margin-right: 10%;
}
.desktop-options a{
    display: flex;
    color:#ffffff;
    text-decoration: none;
    font-size:20px;
    padding:50px 50px; 
    justify-content: center;
}
.desktop-options a:hover{
    color: rgb(201, 15, 15);
}
/* Borda transição */
.desktop-options a::after {
    content: '';
    position: absolute;
    top: 110px;
    height: 2px;
    background-color: #660808;
    transition: width 0.3s ease-in-out;
    width: 0;
}
.desktop-options a:hover::after {
    width: 6%;
}
/* Caixa de contato */
#contato-box{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: #660808;
    border-radius: 50px;
    height: 60px;
    width: 150px;
    border: 2px solid red;
}
#contato{
    padding: 0;
    margin: 0;
}
#contato:hover{
    color: #ffffff;
    border: none;
}
#contato-box:hover{
    background:rgb(158, 125, 35);
}
#contato:hover::after {
    height: 0;
    width: 0;
}
@media screen and (max-width:1470px){
    .desktop-options{
        flex: 85%;
        margin: 0;
        justify-content: right;
    }
    .lobster-regular{
        flex: 10%;
        margin: 0;
        font-size: 15px;
        margin-left: 5%;
    }
    #contato-box{
        margin-left: 0;
    }
}
@media screen and (max-width:1195px){
    .lobster-regular{
        margin: 0;
        width: 50%;
        margin-left: 5%;
    }
    .desktop-options{
        padding: 0;
        width: 40%;
    }
    .desktop-options a{
        padding: 14px 14px;
        width: 20%;
    }
    #contato-box{
        margin: 0;
        margin-right: 5%;
    }
}
@media screen and (max-width:768px){
    .desktop-options{
        display: none;
    }
}
@media screen and (max-width:768px){
    /* titulo */
    .lobster-regular{
        margin-left: 5%;
        font-size: 18px;
    }
    /* Menu Mobile */
    .mobile-btn {
        display: block;
        position: fixed;
    }
    .mobile-options {
        position: fixed;
        top: 0;
        left: -100%;
        width: 70%;
        max-width: 300px;
        height: 100%;
        background: #000000;
        color: white;
        transition: left 0.3s ease;
        z-index: 1000; /* Sobreposição */
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }
    .mobile-options ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .mobile-options li {
        border-bottom: 1px solid #660808;
    }
    .mobile-options a {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
    }
    .mobile-options a:hover {
        background: #555;
    }
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
    .overlay.active {
        display: block;
    }
    body.menu-open {
        overflow: hidden;
        .mobile-btn{
            display: none;
        }
    }
    /*fim do menu*/
}